p. 301 read from CSV

In [1]:
import pandas as pd

# Read CSV data into dataframe. Pandas automatically uses the first row as column names
df = pd.read_csv('./files/sales_records.csv')  

# Get statistics on the numeric columns (use `df.describe(include='O')` for text columns)
print(df.describe())  
print()

# Get information on all the columns ('object' means text/string)
print(df.info())  
print()

# Display first 5 rows of the dataframe (`df.describe(__n__)` displays n rows)
print(df.head(5))  

df['total_sales'] = df['Units Sold'] * df['Unit Price']
print(df)

print(df.info())
print(df.describe())

           Order ID   Units Sold   Unit Price    Unit Cost
count  5.000000e+03  5000.000000  5000.000000  5000.000000
mean   5.486447e+08  5030.698200   265.745564   187.494144
std    2.594671e+08  2914.515427   218.716695   176.416280
min    1.000909e+08     2.000000     9.330000     6.920000
25%    3.201042e+08  2453.000000    81.730000    35.840000
50%    5.523150e+08  5123.000000   154.060000    97.440000
75%    7.687709e+08  7576.250000   437.200000   263.330000
max    9.998797e+08  9999.000000   668.270000   524.960000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Region          5000 non-null   object
 1   Country         5000 non-null   object
 2   Item Type       5000 non-null   object
 3   Sales Channel   5000 non-null   object
 4   Order Priority  5000 non-null   object
 5   Order Date      5000 non-null   object
 6   Order ID        5000 non-null   int64
 7   Ship Date       5000 non-null   object
 8   Units Sold      5000 non-null   int64
 9   Unit Price      5000 non-null   float64
 10  Unit Cost       5000 non-null   float64
dtypes: float64(2), int64(2), object(7)
memory usage: 429.8+ KB
None

                              Region               Country  Item Type  \
0  Central America and the Caribbean  Antigua and Barbuda   Baby Food
1  Central America and the Caribbean                Panama     Snacks
2                             Europe        Czech Republic  Beverages
3                               Asia           North Korea     Cereal
4                               Asia             Sri Lanka     Snacks

  Sales Channel Order Priority  Order Date   Order ID  Ship Date  Units Sold  \
0        Online              M  12/20/2013  957081544  1/11/2014         552
1       Offline              C    7/5/2010  301644504  7/26/2010        2167
2       Offline              C   9/12/2011  478051030  9/29/2011        4778
3       Offline              L   5/13/2010  892599952  6/15/2010        9016
4       Offline              C   7/20/2015  571902596  7/27/2015        7542

   Unit Price  Unit Cost
0      255.28     159.42
1      152.58      97.44
2       47.45      31.79
3      205.70     117.11
4      152.58      97.44
                                 Region               Country   Item Type  \
0     Central America and the Caribbean  Antigua and Barbuda    Baby Food
1     Central America and the Caribbean                Panama      Snacks
2                                Europe        Czech Republic   Beverages
3                                  Asia           North Korea      Cereal
4                                  Asia             Sri Lanka      Snacks
...                                 ...                   ...         ...
4995              Australia and Oceania           New Zealand   Household
4996       Middle East and North Africa            Azerbaijan     Clothes
4997                               Asia               Myanmar   Baby Food
4998                             Europe               Finland     Clothes
4999                 Sub-Saharan Africa              Tanzania  Vegetables

     Sales Channel Order Priority  Order Date   Order ID   Ship Date  \
0           Online              M  12/20/2013  957081544   1/11/2014
1          Offline              C    7/5/2010  301644504   7/26/2010
2          Offline              C   9/12/2011  478051030   9/29/2011
3          Offline              L   5/13/2010  892599952   6/15/2010
4          Offline              C   7/20/2015  571902596   7/27/2015
...            ...            ...         ...        ...         ...
4995       Offline              C    4/3/2015  217984473   4/20/2015
4996       Offline              L   8/17/2014  169748055   10/2/2014
4997       Offline              H  11/23/2016  226939189  12/10/2016
4998        Online              L   4/22/2014  906794202   5/11/2014
4999        Online              L    7/8/2011  996861922    8/7/2011

      Units Sold  Unit Price  Unit Cost  total_sales
0            552      255.28     159.42    140914.56
1           2167      152.58      97.44    330640.86
2           4778       47.45      31.79    226716.10
3           9016      205.70     117.11   1854591.20
4           7542      152.58      97.44   1150758.36
...          ...         ...        ...          ...
4995        5305      668.27     502.54   3545172.35
4996        1077      109.28      35.84    117694.56
4997        5204      255.28     159.42   1328477.12
4998        9410      109.28      35.84   1028324.80
4999        2450      154.06      90.93    377447.00

[5000 rows x 12 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Region          5000 non-null   object
 1   Country         5000 non-null   object
 2   Item Type       5000 non-null   object
 3   Sales Channel   5000 non-null   object
 4   Order Priority  5000 non-null   object
 5   Order Date      5000 non-null   object
 6   Order ID        5000 non-null   int64
 7   Ship Date       5000 non-null   object
 8   Units Sold      5000 non-null   int64
 9   Unit Price      5000 non-null   float64
 10  Unit Cost       5000 non-null   float64
 11  total_sales     5000 non-null   float64
dtypes: float64(3), int64(2), object(7)
memory usage: 468.9+ KB
None
           Order ID   Units Sold   Unit Price    Unit Cost   total_sales
count  5.000000e+03  5000.000000  5000.000000  5000.000000  5.000000e+03
mean   5.486447e+08  5030.698200   265.745564   187.494144  1.325738e+06
std    2.594671e+08  2914.515427   218.716695   176.416280  1.475375e+06
min    1.000909e+08     2.000000     9.330000     6.920000  6.531000e+01
25%    3.201042e+08  2453.000000    81.730000    35.840000  2.574168e+05
50%    5.523150e+08  5123.000000   154.060000    97.440000  7.794095e+05
75%    7.687709e+08  7576.250000   437.200000   263.330000  1.839975e+06
max    9.998797e+08  9999.000000   668.270000   524.960000  6.672676e+06